<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "usuarios/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre%>
  </div>

  <div class="field form-group">
    <%= f.label :imagen %>
    <%= f.file_field :imagen, class:"form-control"  %> 

    <% if resource.imagen.attached? %>
      <%= image_tag resource.imagen, style: "width: 200px; display: block" %>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Deja en blanco si no deseas cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva-contraseña" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Necesitamos tu contraseña actual para realizar el cambio)</i><br />
    <%= f.password_field :current_password, autocomplete: "contraseña-actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Seguro?" }, method: :delete %>

<%= link_to "Volver", :back , class:"btn btn-dark"%>
