<h1>Carro</h1>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Cantidad</th>
      <th>Precio total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @carro.carro_items.each do |carro_item| %>
    
    <tr>
      <td><%= carro_item.producto.nombre %></td>
      <td><%= carro_item.producto.precio %></td>
      <td><%= carro_item.producto.stock_actual%></td>
      <td>
          <% if carro_item.cantidad > 1%>
            <%= link_to "-", carro_item_reducir_path(:id => carro_item), method: :post%>
          <% end %>
          <%= carro_item.cantidad%>
          <% if carro_item.cantidad < carro_item.producto.stock_actual%>
            <%= link_to "+", carro_item_anadir_path(:id => carro_item), method: :post%>
          <% end %>
      </td>
      <td> <%=  carro_item.cantidad * carro_item.producto.precio%></td>
      <td><%= link_to "Remover item", carro_item_path(carro_item),  class:"btn btn-dark", method: :delete%></td>
      
    </tr>
    <% end %>
  </tbody>
</table>

Precio total carro: <%= total(@carro)%>

<%= link_to "Hacer reserva", new_reserva_path, style: "float: right", class:"btn btn-dark" %>
<%= link_to "Vaciar carro", carro_path(@carro_actual),  class:"btn btn-dark", style: "float: right; margin-right:5px",method: :delete, data: {confirm: "Are you sure?"} %>
