<h1>Productos</h1>

<div style="padding:10px 10px 10px 10px;">
  <div class="center">
    <%= form_for "", url: productos_path, method: :get do |f| %>
      <br/>
      <%= f.label :categoria %>
      <%= f.select :categoria_filtro, ["Todos", "Futbol", "Basquetbol", "Tenis", "Voleibol"], selected: @categoria_filtro %>
      <%= f.submit "Filtrar", class: "link" %>
    <% end %>
  </div>
</div>


<br/>
<% if current_usuario %>
  <% if current_usuario.role == "moderador" %>
    <%= link_to 'Nuevo Producto', new_producto_path, class:"btn btn-dark" %>
  <% end %>
<% end %>
<br/>

<div class="container-sm">
  <% @productos.each do |producto| %>
        <div class="card">
          <%= image_tag producto.imagen, width: 100 if producto.imagen.attached? %>
          <br/>
          <h2><%= producto.nombre %></h2>
          <br/>
          <h3>$<%= producto.precio %></h3>
          <br/>
          <%= link_to 'Show', producto,  class:"btn btn-dark" %>
          <br/>
          <% if producto.stock_actual > 0 %>
          <%= button_to "Anadir al carro", carro_items_path(:producto_id => producto.id), class:"btn btn-dark"%>
          <% else%>
            <h4>Fuera de Stock</h4>
          <% end %>
        </div>
  <% end %>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<%# <%= link_to 'New Producto', new_producto_path, class:"btn btn-dark" %>

